.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/uploads/

.idea/

winApp/CubbyHole/CubbyHole/obj/
winApp/CubbyHole/CubbyHole/bin/