/*
 * Globals
 */

/* Links */
/*a,
a:focus,
a:hover {
  color: #fff;
}*/

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  text-align: center;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

.lead{
  font-size:20px;
}

ul.nav > li{
  margin-right: 10px;
}
ul.nav > li:last-child{
  margin-right: 0;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 10% 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 990px;
    z-index: 999;
    }
  .masthead{
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top bottom,  rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}

h1{font-size: 30px;}





/*= THEME STYLESHEET
 *
 *  Theme    :   Pricely
 *  Author   :   Ikram Hakimi @ikramhakimi
 *  About    :   Pricing table powered by Twitter Bootstrap
 * 
---------------------------------------------------------------------------------------------- */
/*= OVERWRITE BOOTSTRAP STYLING
---------------------------------------------------------------------------------------------- */
.row-merge {
  width: 100%;
  *zoom: 1;
}
.row-merge:before,
.row-merge:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-merge:after {
  clear: both;
}
.row-merge [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
  *margin-left: -0.06944444444444445%;
}
.row-merge [class*="span"]:first-child {
  margin-left: 0;
}
.row-merge .controls-row [class*="span"] + [class*="span"] {
  margin-left: 0%;
}
.row-merge .span12 {
  width: 99.99999999999999%;
  *width: 99.93055555555554%;
}
.row-merge .span11 {
  width: 91.66666666666666%;
  *width: 91.59722222222221%;
}
.row-merge .span10 {
  width: 83.33333333333331%;
  *width: 83.26388888888887%;
}
.row-merge .span9 {
  width: 74.99999999999999%;
  *width: 74.93055555555554%;
}
.row-merge .span8 {
  width: 66.66666666666666%;
  *width: 66.59722222222221%;
}
.row-merge .span7 {
  width: 58.33333333333333%;
  *width: 58.263888888888886%;
}
.row-merge .span6 {
  width: 49.99999999999999%;
  *width: 49.93055555555555%;
}
.row-merge .span5 {
  width: 41.66666666666666%;
  *width: 41.597222222222214%;
}
.row-merge .span4 {
  width: 33.33333333333333%;
  *width: 33.263888888888886%;
}
.row-merge .span3 {
  width: 24.999999999999996%;
  *width: 24.930555555555554%;
}
.row-merge .span2 {
  width: 16.666666666666664%;
  *width: 16.59722222222222%;
}
.row-merge .span1 {
  width: 8.333333333333332%;
  *width: 8.263888888888888%;
}
.row-merge .offset12 {
  margin-left: 99.99999999999999%;
  *margin-left: 99.8611111111111%;
}
.row-merge .offset12:first-child {
  margin-left: 99.99999999999999%;
  *margin-left: 99.8611111111111%;
}
.row-merge .offset11 {
  margin-left: 91.66666666666666%;
  *margin-left: 91.52777777777777%;
}
.row-merge .offset11:first-child {
  margin-left: 91.66666666666666%;
  *margin-left: 91.52777777777777%;
}
.row-merge .offset10 {
  margin-left: 83.33333333333331%;
  *margin-left: 83.19444444444443%;
}
.row-merge .offset10:first-child {
  margin-left: 83.33333333333331%;
  *margin-left: 83.19444444444443%;
}
.row-merge .offset9 {
  margin-left: 74.99999999999999%;
  *margin-left: 74.8611111111111%;
}
.row-merge .offset9:first-child {
  margin-left: 74.99999999999999%;
  *margin-left: 74.8611111111111%;
}
.row-merge .offset8 {
  margin-left: 66.66666666666666%;
  *margin-left: 66.52777777777777%;
}
.row-merge .offset8:first-child {
  margin-left: 66.66666666666666%;
  *margin-left: 66.52777777777777%;
}
.row-merge .offset7 {
  margin-left: 58.33333333333333%;
  *margin-left: 58.19444444444444%;
}
.row-merge .offset7:first-child {
  margin-left: 58.33333333333333%;
  *margin-left: 58.19444444444444%;
}
.row-merge .offset6 {
  margin-left: 49.99999999999999%;
  *margin-left: 49.86111111111111%;
}
.row-merge .offset6:first-child {
  margin-left: 49.99999999999999%;
  *margin-left: 49.86111111111111%;
}
.row-merge .offset5 {
  margin-left: 41.66666666666666%;
  *margin-left: 41.52777777777777%;
}
.row-merge .offset5:first-child {
  margin-left: 41.66666666666666%;
  *margin-left: 41.52777777777777%;
}
.row-merge .offset4 {
  margin-left: 33.33333333333333%;
  *margin-left: 33.19444444444444%;
}
.row-merge .offset4:first-child {
  margin-left: 33.33333333333333%;
  *margin-left: 33.19444444444444%;
}
.row-merge .offset3 {
  margin-left: 24.999999999999996%;
  *margin-left: 24.86111111111111%;
}
.row-merge .offset3:first-child {
  margin-left: 24.999999999999996%;
  *margin-left: 24.86111111111111%;
}
.row-merge .offset2 {
  margin-left: 16.666666666666664%;
  *margin-left: 16.52777777777778%;
}
.row-merge .offset2:first-child {
  margin-left: 16.666666666666664%;
  *margin-left: 16.52777777777778%;
}
.row-merge .offset1 {
  margin-left: 8.333333333333332%;
  *margin-left: 8.194444444444443%;
}
.row-merge .offset1:first-child {
  margin-left: 8.333333333333332%;
  *margin-left: 8.194444444444443%;
}
[class*="span"].hide,
.row-merge [class*="span"].hide {
  display: none;
}
[class*="span"].pull-right,
.row-merge [class*="span"].pull-right {
  float: right;
}
@media (max-width: 767px) {
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-merge [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-merge .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-merge [class*="offset"]:first-child {
    margin-left: 0;
  }
}
/*= LAYOUT
---------------------------------------------------------------------------------------------- */
/*= OVERWRITE BOOTSTRAP STYLING
---------------------------------------------------------------------------------------------- */
.row-fluid .span4 {
width: 31.623931623931625%;
}

@media (max-width: 767px) {
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-merge [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-merge .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-merge [class*="offset"]:first-child {
    margin-left: 0;
  }
}

a:hover,
a:focus {
  outline: none;
}
small,
.small {
  font-size: 11px;
}
/*= REUSABLE CLASSES
---------------------------------------------------------------------------------------------- */
.lead {
  font-size: 14px;
  line-height: 1.8em;
}
.text-center {
  text-align: center;
}
/*= BUTTONS
---------------------------------------------------------------------------------------------- */
.btn {
  font-weight: 500;
}
.btn-large,
.btn-group > .btn-large {
  font-size: 16px;
}
/*= WRAPPER
---------------------------------------------------------------------------------------------- */
.wrapper {
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  margin: 30px 30px 0;
}
/*= SECTION
---------------------------------------------------------------------------------------------- */
.section {
  padding: 50px 40px;
}
.section + .section {
  border-top: 1px solid #e5e5e5;
}
.section-headlines {
  margin-bottom: 30px;
}
.section-headlines h2 {
  font-size: 32px;
}
/*= FOOTER
---------------------------------------------------------------------------------------------- */
.footer {
  margin: 20px 30px;
  padding-bottom: 60px;
}
.footer .nav > li + li {
  margin-left: 30px;
}
.footer .nav > li > a,
.footer .nav > li > a:hover {
  color: inherit;
  background: none;
}
.footer .nav > li > a:hover {
  text-decoration: underline;
}
/*= PRICING TABLE
---------------------------------------------------------------------------------------------- */
.pricing-table .plan {
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  margin: 0 0 20px;
  position: relative;
  z-index: 1;
}
.pricing-table .plan:hover {
  border-color: #ccc #ccc #bbb;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.pricing-table .plan-name {
  padding: 30px 0;
}
.pricing-table .plan-name h2 {
  margin: 0;
  font-weight: 400;
}
.pricing-table .plan-name h2 + p {
  margin: 10px 15px 0;
}
.pricing-table .plan-price {
  background: #fafafa;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}
.pricing-table .plan-price b {
  font-size: 24px;
  font-weight: 400;
}
.pricing-table .plan-price b b {
  font-size: 16px;
  font-weight: 500;
}
.pricing-table .prefered .plan-price {
  background: #fff7e3;
  color: #b0a996;
}
.pricing-table .prefered .plan-price b {
  color: #d95246;
}
.pricing-table .plan-details {
  padding: 0 10px;
}
.pricing-table .plan-details > div {
  background: #fff;
  padding: 15px;
}
.pricing-table .plan-details > div + div {
  border-top: 1px solid #e5e5e5;
}
.pricing-table .plan-action {
  background: #fafafa;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #e5e5e5;
  padding: 15px;
}
.pricing-table.row-merge .plan {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pricing-table.row-merge [class*="span"]:first-child .plan {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pricing-table.row-merge [class*="span"]:last-child .plan {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pricing-table.row-merge [class*="span"] + [class*="span"] .plan {
  margin-left: -1px;
}


**

/* ---------------------------------------------------------------------
                            ADMINISTRATION
------------------------------------------------------------------------ */

ul#adminGridPanel {
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}


ul#adminGridPanel li.adminGrid {
  display: inline-block;
  text-align: center;
  min-width: 150px;
  white-space: nowrap;
  margin: 0 10px 5px;
}
ul#adminGridPanel li.adminGrid a{
  display: block;
  width: 120px;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 15px 10px 10px 10px;
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}

ul#adminGridPanel li.adminGrid a img{
  margin-bottom: 5px;
}

ul#adminGridPanel li.adminGrid a:hover{
  text-decoration: none;
  color: #fff;
  background-color: #39b3d7;
  border-color: #46b8da;
  }

.admin h1{
    margin-bottom: 30px;
}

td{
  text-align: left;
}





table.sortable span.sign {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 12px;
    margin-top: -10px;
    color: #bfbfc1;
}

table.sortable span.arrow, span.reversed {
    border-style: solid;
    border-width: 5px;
    font-size: 0;
    border-color: #ccc transparent transparent transparent;
    line-height: 0;
    height: 0;
    width: 0;
    margin-top: -2px;
}

    table.sortable span.arrow.up {
        border-color: transparent transparent #ccc transparent;
        margin-top: -7px;
    }

table.sortable span.reversed {
    border-color: transparent transparent #ccc transparent;
    margin-top: -7px;
}

    table.sortable span.reversed.up {
        border-color: #ccc transparent transparent transparent;
        margin-top: -2px;
    }



table.sortable span.az:before {
    content: "a .. z";
}

table.sortable span.az.up:before {
    content: "z .. a";
}

table.sortable span.AZ:before {
    content: "A .. Z";
}

table.sortable span.AZ.up:before {
    content: "Z .. A";
}

table.sortable span._19:before {
    content: "1 .. 9";
}

table.sortable span._19.up:before {
    content: "9 .. 1";
}

table.sortable span.month:before {
    content: "jan .. dec";
}

table.sortable span.month.up:before {
    content: "dec .. jan";
}

table.sortable thead th:not([data-defaultsort=disabled]) {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

table.sortable thead th:hover:not([data-defaultsort=disabled]) {
    background: #efefef;
}

table.sortable thead th div.mozilla {
    position: relative;
}



/*
*
* SPRITES
*
*/
span.sprite {
  width: 16px;
  height: 16px;
  background-image: url("/assets/img/Back/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 16px;
  display: inline-block;
}

span.fileSprite {
  width: 16px;
  height: 16px;
  background-image: url("/assets/img/Back/sprite_file.png");
  background-repeat: no-repeat;
  background-position: 0 16px;
  display: inline-block;
}

span.dossier{
  background-position: left -2557px;
  width: 28px;
}

span.dossierPartage{
  background-position: left -2731px;
  width: 28px;
}

span.file{
  background-position: left -341px;
  width: 28px;
}

span.filePartage{
  background-position: left -125px;
  width: 28px;
}

span.newFile{
  background-position: left -10321px;
  width: 28px;
  height: 18px;
}
span.newFolder{
  background-position: left -2578px;
  width: 28px;
  height: 18px;
}
span.refresh{
  background-position: left -3705px;
  width: 28px;
  height: 18px;
}
span.parentFolder{
  background-position: left -6705px;
  width: 28px;
  height: 18px;
}

span.file{
  background-position: left -38px;
  width: 28px;
  height: 18px;
}

span.word{
  background-position: left 2px;
  width: 28px;
  height: 18px;
}

span.excel{
  background-position: left -18px;
  width: 28px;
  height: 18px;
}

span.picture{
  background-position: left -58px;
  width: 28px;
  height: 18px;
}

span.pdf{
  background-position: left -78px;
  width: 28px;
  height: 18px;
}

span.powerpoint{
  background-position: left -98px;
  width: 28px;
  height: 18px;
}

span.zip{
  background-position: left -118px;
  width: 28px;
  height: 18px;
}

#dragandrophandler{
  width: 500px;
  height: 100px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  margin: 0 auto;
  padding: 35px 0;
}


.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}
 
.progressBar div {
    height: 100%;
    color: #333;
    text-align: right;
    width: 0;
    background-color: #0ba1b5; 
    border-radius: 3px; 
}
.statusbar
{
    margin-top: 15px;
    min-height:45px;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#f5f5f5;
}
.filename
{
display:inline-block;
vertical-align:top;
width:250px;
}
.filesize
{
display:inline-block;
vertical-align:top;
color:#30693D;
width:100px;
margin-left:10px;
margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
    }

tr.file, tr.folder{
  cursor: pointer;
}
tr.folder.drop-target,tr.parentFolder.drop-target{
  background: #D7E8FC;
  transition: all 1s ease;
}